html,body {
	margin: 0;
	padding: 0;
	color: #555;
	font-size: 14px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tab-head ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px solid #e6e6e6;
	background-color: #f2f2f2;
}

.tab-head ul li {
	padding: 5px 10px;
}

.tab-head .selected-li {
	color: #ec5566;
	border-bottom: 2px solid #ec5566;
}

.tab-content {
	margin-bottom: 50px;
}

.tab-content ul li {
	display: none;
}

.swiper1 img {
	width: 100%;
	vertical-align: middle;
}

.swiper1 .swiper-pagination {
    left: auto;
    right: 7px;
    bottom: 7px;
    width: auto;
    padding: 2px 7px;
    border-radius: 10px;
    color: #fff;
    background: rgba(0,0,0,.3);
}

.list-title {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 16px;
	color: #ec5566;
}

.list-title span {
	padding: 4px 12px;
	border: 1px solid #ec5566;
	border-radius: 6px;
}

.list-content {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
}

.list-content:last-child {
	border: none;
}

.list-content div:nth-child(1) {
	width: 36%;
}

.list-content div:nth-child(2) {
	width: 64%;
}

.list-content img {
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.list-content span {
	color: #e4393c;
}

.list-content small {
	color: gray;
}

.shopping {
	position: relative;
	right: 10px;
}

.shopping img {
	width: 32px;
}

.footer ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	padding: 3px;
	text-align: center;
	font-size: 12px;
}

.footer img {
	vertical-align: middle;
	margin-top: -24px;
}

.footer .selected-li {
	color: #ec5566;
}

.footer #div1,#div2,#div3,#div4 {
	width: 24px;
	height: 24px;
	overflow: hidden;
}

.footer #div2 img {
	margin-left: -24px;
}

.footer #div3 img {
	margin-left: -48px;
}

.footer #div4 img {
	margin-left: -72px;
}

.footer .selected-li img {
	margin-top: 0;
}

.container {
	display: none;
}

.container .prompt {
	font-size: 18px;
	text-align: center;
	margin-top: 60px;
	color: #999;
}

.page .item1,.item2,.item3 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.page .item {
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
}

.page .item small {
	color: gray;
}

.page .item span {
	color: #fdb484;
}

.page .item:before {
	content: "";
	width: 4px;
	height: 18px;
	background-color: #f32424;
	position: absolute;
	vertical-align: middle;
}

.page .item0 img {
	vertical-align: middle;
	width: 40px;
}

.page .item0 p {
	margin: 0;
}

.page .item0:before {
	display: none;
}

.page .item p:nth-child(1) {
	margin-left: 16px;
}

.page .item:before {
	margin-top: 16px;
} 

.page {
	background-color: #f2f2f2;
}