<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>生鲜超市</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
</head>
<body>
	<div class="container" style="display:block">
		<div class="tab-head">
			<ul>
				<li class="selected-li">热卖</li>
				<li class="normal-li">水果</li>
				<li class="normal-li">肉蛋</li>
				<li class="normal-li">蔬菜</li>
				<li class="normal-li">水产</li>
				<li class="normal-li">调料</li>
			</ul>
		</div>
		<div class="tab-content">
			<ul>
				<li style="display:block">
					<div class="swiper-container swiper1">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><img src="img/hot/hot1.jpg"></div>
							<div class="swiper-slide"><img src="img/hot/hot2.jpg"></div>
							<div class="swiper-slide"><img src="img/hot/hot3.jpg"></div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="list-title"><span>今日热卖</span></div>
					<div id="list1" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
				<li>
					<div id="list2" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
				<li>
					<div id="list3" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
				<li>
					<div id="list4" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
				<li>
					<div id="list5" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
				<li>
					<div id="list6" class="list-content" v-for="row in list">
						<div><img v-bind:src="row.imgsrc"></div>
						<div>
							<p>{{row.title}}</p>
							<p><small>{{row.remarks}}</small></p>
							<p><span>{{row.price}}</span></p>
						</div>
						<div class="shopping"><img src="img/ico/shopping.svg"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="container"><p class="prompt">购物车暂无商品</p></div>

	<div class="container page">
		<div class="item item0"><p><img src="img/ico/logo.jpg"><big>生鲜超市</big></p><p><small>xxxxxxxxxxx</small></p></div>
		<div class="item"><p>店铺展示</p></div>
		<div class="item item1"><p>联系电话</p><p><small>136********</small></p></div>
		<div class="item item2"><p>联系地址</p><p><small>xxxxxxxxxx</small></p></div>
		<div class="item item3"><p>店铺服务</p><p><span>水果 蔬菜 水产品</span></p></div>
		<div class="item"><p>店铺简介</p><p><small>优质生鲜超市，环境优美，健康美味，欢迎光临本店。</small></p></div>
		<div class="item"><p>店铺评价</p><p><small>店铺初次开张，期待您的评价！</small></p></div>
	</div>

	<div class="container me">
		<h3>账号登录</h3>
		<div>
			<p><input type="text" name="name" placeholder="账号"></p>
			<p><input type="password" name="password" placeholder="密码"></p>
			<p><input type="button" value="登录"></p>
		</div>
		<div style="text-align:center;margin:50px 0;color:#555">没有账号请<a href="">注册</a></div>
		<div class="other-login">
			<div><img src="img/ico/wx.svg"><span> 微信</span></div>
			<div><img src="img/ico/wb.svg"><span> 微博</span></div>
		</div>
	</div>

	<div class="footer">
		<ul>
			<li class="selected-li">
				<div id="div1"><img src="img/ico/bottom-menu.png"></div>
				<div><span>首页</span></div>
			</li>
			<li>
				<div id="div2"><img src="img/ico/bottom-menu.png"></div>
				<div><span>购物车</span></div>
			</li>
			<li>
				<div id="div3"><img src="img/ico/bottom-menu.png"></div>
				<div><span>微页</span></div>
			</li>
			<li>
				<div id="div4"><img src="img/ico/bottom-menu.png"></div>
				<div><span>我的</span></div>
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		$(function(){
			$('.tab-head ul li').click(function(){
				var index = $(this).index();
				$(this).removeClass('normal-li').addClass('selected-li');
				$(this).siblings().removeClass('selected-li').addClass('normal-li');
				var contents = $('.tab-content').find('li');
				$(contents[index]).show();
				$(contents[index]).siblings().hide();
			});

			new Vue({
				el: '#list1',
				data: {
					list: [
						{name:'apple',imgsrc:'img/goods/apple.jpg',title:'红富士苹果 12个 单果约140-170g 总重约1.9kg',remarks:'满129元减20元',price:'￥29.90'},
						{name:'pitaya',imgsrc:'img/goods/pitaya.jpg',title:'红心火龙果 2个装 巨无霸大果 单果约600~700g',remarks:'满129元减20元',price:'￥39.90'},
						{name:'hami',imgsrc:'img/goods/hami.jpg',title:'哈密瓜 1粒装 约1.25-1.75kg 新鲜水果',remarks:'满129元减20元',price:'￥26.90'}
					]
				}
			});

			new Vue({
				el: '#list2',
				data: {
					list: [
						{name:'apple',imgsrc:'img/goods/apple.jpg',title:'红富士苹果 12个 单果约140-170g 总重约1.9kg',remarks:'满129元减20元',price:'￥29.90'},
						{name:'pitaya',imgsrc:'img/goods/pitaya.jpg',title:'红心火龙果 2个装 巨无霸大果 单果约600~700g',remarks:'满129元减20元',price:'￥39.90'},
						{name:'hami',imgsrc:'img/goods/hami.jpg',title:'哈密瓜 1粒装 约1.25-1.75kg 新鲜水果',remarks:'满129元减20元',price:'￥26.90'}
					]
				}
			});

			new Vue({
				el: '#list3',
				data: {
					list: [
						{name:'egg',imgsrc:'img/goods/egg.png',title:'新鲜鸡蛋 土鸡蛋 农家散养30枚',remarks:'满129元减20元',price:'￥32.90'},
						{name:'duck-egg',imgsrc:'img/goods/duck-egg.jpg',title:'田园居 农家包泥生咸鸭蛋20枚净重约1500g',remarks:'满199元减30元',price:'¥42.90'},
						{name:'chicken',imgsrc:'img/goods/chicken.jpg',title:'老母鸡 1.5kg/袋整只装 林下散养',remarks:'满199元减30元',price:'¥49.90'}
					]
				}
			});

			new Vue({
				el: '#list4',
				data: {
					list: [
						{name:'lettuce',imgsrc:'img/goods/lettuce.jpg',title:'新鲜散叶生菜 绿色蔬菜 火锅食材 300g',remarks:'满129元减20元',price:'￥8.90'},
						{name:'cauliflower',imgsrc:'img/goods/cauliflower.jpg',title:'新鲜菜花 新鲜散菜花 花花菜球 500g',remarks:'满199元减30元',price:'¥12.90'},
						{name:'asparagus',imgsrc:'img/goods/asparagus.jpg',title:'新鲜莴笋 新鲜青笋 莴苣 新鲜蔬菜500kg',remarks:'满199元减30元',price:'¥14.80'}
					]
				}
			});

			new Vue({
				el: '#list5',
				data: {
					list: [
						{name:'crucian',imgsrc:'img/goods/crucian.jpg',title:'野生淡水鱼 野生鲫鱼约500g（净膛）现杀4-6条',remarks:'满129元减20元',price:'￥26.90'},
						{name:'bighead',imgsrc:'img/goods/bighead.jpg',title:'新鲜野生胖头鱼 大头鱼 鱼头做火锅 1条 5-6斤',remarks:'满299元减20元',price:'¥188.80'},
						{name:'lobster',imgsrc:'img/goods/lobster.jpg',title:'清水鲜活小龙虾 1000g 约4-6钱只 1份 盒装',remarks:'满299元减30元',price:'¥58.80'}
					]
				}
			});

			new Vue({
				el: '#list6',
				data: {
					list: [
						{name:'chilli',imgsrc:'img/goods/chilli.jpg',title:'精致剁辣椒2.3kg蒸鱼剁椒酱湖南特产辣椒酱下饭菜',remarks:'满129元减20元',price:'￥27.50'},
						{name:'garlic',imgsrc:'img/goods/garlic.jpg',title:'大蒜 2.5kg 农家大蒜头 可腌制糖醋蒜 干蒜',remarks:'满299元减20元',price:'¥19.90'},
						{name:'ginger',imgsrc:'img/goods/ginger.jpg',title:'小黄姜6斤 生姜老姜调味食材 有机肥种植鲜姜',remarks:'满299元减30元',price:'¥29.80'}
					]
				}
			});

			new Swiper('.swiper1',{
				loop: true,
				autoplay: 2000,
				autoplayDisableOnInteraction: false,
				pagination : '.swiper-pagination',
				paginationType : 'custom',
				paginationCustomRender: function (swiper, current, total) {
				  return current + '/' + total;
				}
			});

			$('.footer ul li').click(function(){
				var index = $(this).index();
				$(this).addClass('selected-li');
				$(this).siblings().removeClass('selected-li');
				var contents = $('.container');
				$(contents[index]).show();
				for(i=0;i<4;i++){
					if(i!=index){
						$(contents[i]).hide();
					}
				}
			});
		})
	</script>
</body>
</html>